.top {
    height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

.logotop {
    float: left;
    width: 300px;
    position: relative;
    left: calc(50% - 150px);
    top: 5vh;
}

.SRT-logotop {
    top: calc(100vh - 180px);
    left: 40px;
    width: 200px;
    position: absolute;
    clear: both;

}