<div class="AboutUsContainer">

    <!-- <img class="AboutUsBG" alt="Background" src="~/Images/aboutUsBG.png" />-->

    <div class="AboutUs">
        <h1>OM OSS</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean justo libero, dapibus ut dolor ac, porta vehicula velit.
            Integer eu mauris justo.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>

    </div>
</div>