<footer>
    <div id="footer">
        <h4>Om oss</h4>
        <p>-Enter text here-</p>
        <h4>Navigering</h4>
        <ul class="ul1">
            <li>-Enter nav-</li>
            <li>-Enter nav-</li>
            <li>-Enter nav-</li>
        </ul>
        <h4>Öppettider:</h4>
        <p>Kl 12-18</p>
        <h4>Kontakt</h4>
        <ul class="ul2">
            <li>-Enter kontakt-</li>
            <li>-Enter kontakt-</li>
            <li>-Enter kontakt-</li>
        </ul>
    </div>
</footer>