<!--<!DOCTYPE html>
<html lang="sv" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Gallei</title>
    <link href="Content/Galleri.css" type="text/css" rel="stylesheet">
    
</head>
<body>
    -->

<div class="containergalleri">

    <div class="item"><!-- i "Href" skriv länk adressen till personens boknings sida --><a href="#"><img class="grayscale" src="Images/Denis.jpg" alt="Error picture not found"></a><!-- Namn på tatuerare skrivs i span !--><p class="galleriP">Made by <span>XXXX</span></p></div>
    <div class="item"><!-- i "Href" skriv länk adressen till personens boknings sida --><a href="#"><img class="grayscale" src="Images/Denis.jpg" alt="Error picture not found"></a><!-- Namn på tatuerare skrivs i span !--><p class="galleriP">Made by <span>XXXX</span></p></div>
    <div class="item"><!-- i "Href" skriv länk adressen till personens boknings sida --><a href="#"><img class="grayscale" src="Images/Denis.jpg" alt="Error picture not found"></a><!-- Namn på tatuerare skrivs i span !--><p class="galleriP">Made by <span>XXXX</span></p></div>
    <div class="item"><!-- i "Href" skriv länk adressen till personens boknings sida --><a href="#"><img class="grayscale" src="Images/Denis.jpg" alt="Error picture not found"></a><!-- Namn på tatuerare skrivs i span !--><p class="galleriP">Made by <span>XXXX</span></p></div>
    <div class="item"><!-- i "Href" skriv länk adressen till personens boknings sida --><a href="#"><img class="grayscale" src="Images/Denis.jpg" alt="Error picture not found"></a><!-- Namn på tatuerare skrivs i span !--><p class="galleriP">Made by <span>XXXX</span></p></div>
    <div class="item"><!-- i "Href" skriv länk adressen till personens boknings sida --><a href="#"><img class="grayscale" src="Images/Denis.jpg" alt="Error picture not found"></a><!-- Namn på tatuerare skrivs i span !--><p class="galleriP">Made by <span>XXXX</span></p></div>

</div>
<!--
</body>
</html>
    -->
