@model Webbprojekt.Models.ArtistGalleryModels

<a id="the-gallery"></a>

<div class="galleriHeader">
    <h1>VÅRA TATUERINGAR</h1>
</div>



<div class="containergalleri">

    @foreach (var item in Model.Galleries)
    {
        <div class="item">
            <a href="#"><img class="grayscale" src="@Url.Content("~/Images/" + item.ImageFile)" alt="Error picture can not be found" /></a>
            @foreach (var artist in Model.Artists)
            {
                if (item.ArtistID == artist.ID)
                {
                    <p class="galleriP">Made by <span>@artist.Name</span></p>
                }
            }
        </div>
    }


    <!--<div class="item">
        <a href="#">
            <img class="grayscale" src="Images/Denis.jpg" alt="Error picture not found">
        </a>

    <p class="galleriP">Made by <span>XXXX</span></p>

    </div>
    -->
</div>