
<nav class="navtop">
    <ul class="nav-left">
        <li><a href="#">Hem</a></li>
        <li><a href="#">Om oss</a></li>
    </ul>
    <img src="Images/navlogo.png" alt="logo" class="navlogo">
    <ul class="nav-right">
        <li><a href="#">Galleri</a></li>
        <li><a href="#">kontakt</a></li>
    </ul>
</nav>