<div class="top">
    <img class="background" alt="background" src="~/Images/BG.jpg">

    <img class="logotop" alt="logotyp" src="~/Images/logo_ext2.png">

    <img class="SRT-logotop" alt="SRT-Logo" src="~/Images/SRT-Logo.png" />
</div>